<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTE RNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ConfirmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadingPageActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".WriteDBActivity"/>
        <activity android:name=".home.ItemPopUpActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".cody.CodyUpdateActivity"/>

    </application>

</manifest>